@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body.light-mode {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  --mode-text-color: rgba(0, 0, 0, 0.8);
  --mode-text-color-hover: #6d28d9;
  --border-color: #ccc;
}
body.dark-mode {
  background-color: #091a28;
  color: #ebf4f1;
  --mode-text-color: #ebf4f1;
  --mode-text-color-hover: #6d28d9;
  --border-color: #fff;
}
body.sepia-mode {
  background-color: #f1e7d0;
  color: #433422;
  --mode-text-color: #433422;
  --mode-text-color-hover: #fff;
  --border-color: #444;
}

.rainbow-text {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-primary to-pink-600;
}
.rainbow-bg {
  @apply bg-gradient-to-r from-primary to-pink-600;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-in-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: scale(0.99);
}
